:root {
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    color: var(--white);
    font-size: 14px;
    background-color: var(--grey-900);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main {
    background-color: var(--grey-800);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;

    width: 40%;
    max-width: 350px;
}

img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-block-end: 1rem;
    
}

h1 {
    margin-block-end: 0.1rem;
}



.london {
    color: var(--green);
    font-weight: 600;
}

.front {
    color: hsl(0, 0%, 80%);
    margin-block-start: 1.2rem;
    margin-block-end: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


ul li {
   background-color: var(--grey-700);
   padding: 0.8rem;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
}

ul li:hover {
    background-color: var(--green);
    color: var(--grey-700);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
